
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>

<br>
<br>

<form [formGroup]="datosForm">  
  
  <div class="form-grop">          
    <input type="text" formControlName="texto">    
  </div>
  <div class="form-grop">
    <input type="number" formControlName="numero">
  </div>  
    
</form>

<div *ngFor="let item of collection.data">

  {{item | json}}
 
  <button class="btn btn-primary"(click)="delete(item)">Eliminar</button>
  <button class="btn btn-primary"(click)="openUpdate(item)">Abrir|Dialog</button>  
  
</div>

<button type="submit" class="btn btn-secondary btn-xs" (click)="save()">Guardar</button>
<button class="btn btn-danger"(click)="update()" *ngIf="actualizar">Editar</button>













